<h1><%= @team.name %></h1>
<h2>Team Motto: <%=@team.motto %> </h2>

<h1>Heroes</h1>

<% @super_heros.each do |hero| %>
  <p>Hero Name: <%=hero.name%></p>
  <p>Hero Height: <%=hero.height%></p>
  <p>Hero Wieght: <%=hero.weight%></p>
    <% end %>
